.parent{
  background-color: lightgray;
  width:1000px;
  text-align: center;
  overflow: hidden;
}
.parent div {
  float: left;
  background-color: darkgray;
  margin-left: 15px;
  margin-top: 15px;
  padding:15px 0px ;
}
.one{
  width:calc(100% - 2*15px);
}
.two{
  width:calc(( 100% - 4*15px)/3);
}
.three{
  width:calc(( 100% - 3*15px)/2);
}
.four{
  margin-bottom: 15px;
  width:calc(( 100% - 5*15px)/4);
}
.clear{ clear:both}
